.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fields-container {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
